@import '../../styles/variables.scss';
@import '../../styles/frame.css';

$movie-max-width: 230px;

.MoviePoster {
  position: relative;
  max-width: $movie-max-width;
}

.MoviePoster__image {
  display: block;
  max-width: 100%;
  height: auto;
}
