@import '../../styles/variables.scss';

$movie-min-width: 160px;
$movie-max-width: 230px;
$movie-big-max-width: 500px;

.MoviePoster {
  position: relative;
  min-width: $movie-min-width;
  max-width: $movie-max-width;
}

.MoviePoster--big {
  max-width: $movie-big-max-width;
}

.MoviePoster__image {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: $space-1;
}

.frame {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(221, 238, 255, 0.35);
  background-image: linear-gradient(
    90deg,
    rgba(white, 0) 0,
    rgba(white, 0.5) 50%,
    rgba(white, 0)
  );
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: 100% 1px;
  border-radius: $space-1;  
}
