@use '../../styles/variables.scss';

.Button {
  appearance: none;
  display: inline-block;
  padding: variables.$space-2 variables.$space-3 variables.$space-2;
  text-decoration: none;
  font-size: variables.$font-size-2;
  line-height: variables.$line-height-1;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-family: Graphik-Semibold-Web, sans-serif;
  // -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  box-shadow: inset 0 1px 0 variables.color('light-2');
  border-radius: 3px;
  color: variables.color('light-1');
  background: variables.color('light-3');
  cursor: pointer;
  margin: 0;
  user-select: none;
  transition: background-color variables.$speed-2, color variables.$speed-2;

  &:hover {
    color: variables.color('light-0');
    text-decoration: none;
    background: variables.color('light-3');
  }
}

.Button.primary {
  color: variables.color('light-0');
  background-color: variables.color('primary');  
  box-shadow: inset 0 1px 0 variables.color('primary-dark');

  &:hover {
    background-color: variables.color('primary-dark');
  }
}