@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

body {
  color: color(light-2);
  font-size: $font-size-3;
  font-family: $font-family-stack;
  background-color: color(dark-1);
}

a {
  color: color(light-1);
}

.container {
  width: 100%;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $space-5;
  padding-left: $space-5;
}

.modal {
  position: absolute;
  z-index: map.get($zindex, modal);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vw;
}

.overlay {
  position: absolute;
  z-index: map.get($zindex, overlay);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vw;
  background-color: color(dark-0);
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}