.frame {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  white-space: nowrap;
  text-indent: 110%;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.1s ease-in;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px rgb(221 238 255 / 35%);
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0.5) 50%,
    hsla(0, 0%, 100%, 0)
  );
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: 100% 1px;
  border-radius: 4px;
}
