@use './vars.scss' as vars;
@use 'sass:map';

body {
  color: vars.color(light-2);
  font-size: vars.$font-size-3;
  font-weight: 300;
  background-color: vars.color(dark-1);
}

a {
  color: vars.color(light-1);
}

b,
strong {
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: vars.$max-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: vars.$space-5;
  padding-left: vars.$space-5;
}

.modal {
  position: absolute;
  z-index: map.get(vars.$zindex, modal);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vw;
}

.overlay {
  position: absolute;
  z-index: map.get(vars.$zindex, overlay);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100vw;
  background-color: vars.color(dark-0);
  pointer-events: none;
}
