// colors
$text-color: #444444;

// font family
$text-font-stack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// TODO: Use breakoints
$max-width: 780px;

// Spacing
$space-0: 0;
$space-1: 4px;
$space-2: 8px;
$space-3: 16px;
$space-4: 24px;
$space-5: 32px;
