// font family
$text-font-stack: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// TODO: Use breakoints
$max-width: 950px;

// Spacing
$space-0: 0;
$space-1: 4px;
$space-2: 8px;
$space-3: 16px;
$space-4: 24px;
$space-5: 32px;

// Colors
$dark-0: #000000;
$dark-1: #14171a;
$dark-2: #191e23;
$dark-3: #1E232A;

$ligth-0: #ffffff;
$lgiht-1: #abcabc;
$lgiht-2: #678678;

$lgiht-4: #3C4B5A;
