@import '../../styles/variables.scss';

.Navigation {
  display: flex;
}

.Navigation__link {
  margin-right: $space-3;
  text-transform: uppercase;
  font-size: $font-size-2;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0px;
}
