@use '../../styles/vars.scss';
@use '../../styles/utils/at-break.scss';

.Navigation {
  display: flex;
  flex-wrap: wrap;
  margin-right: -(vars.$space-3)/2;
  margin-left: -(vars.$space-3)/2;
}

.Navigation__link {
  margin-right: vars.$space-3/2;
  margin-left: vars.$space-3/2;
  text-transform: uppercase;
  font-size: vars.$font-size-2;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
}

.Navigation__link--optional {
  display: none;
  @include at-break.at-tablet {
    display: block;
  }
}
