/* stylelint-disable */

$bp-width: (
  mobile:  480px, // xsmall
  tablet:  768px, // small
  desktop: 992px, // medium
  large:  1260px, // large
) !default;

@function min-width($bp) {
  @return "min-width: #{map-get($bp-width, $bp)}";
}

@function max-width($bp) {
  @return "max-width: #{map-get($bp-width, $bp) - .02}";
}

@mixin at-mobile      { @media (min-width(mobile))  { @content; }}
@mixin at-tablet      { @media (min-width(tablet))  { @content; }}
@mixin at-desktop     { @media (min-width(desktop)) { @content; }}
@mixin at-large       { @media (min-width(large))   { @content; }}

// Only
@mixin only-mobile    { @media (max-width(tablet))  { @content; }}
@mixin only-tablet    { @media (min-width(tablet))
                           and (max-width(desktop)) { @content; }}
@mixin only-desktop   { @media (min-width(desktop))
                           and (max-width(large))   { @content; }}
@mixin only-large     { @media (min-width(large))   { @content; }}
