@import '../../styles/variables.scss';
@import '../../styles/utils/at-break.scss';

.StyleElement {
  @include at-tablet {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.StyleElement__title {
  display: block;
}

.StyleElement__body {
  padding: $space-5;
  border: 1px solid color(light-3);
  border-radius: $space-1;
  background-color: color(dark-2);
  transition: border-color $transition-2, background-color $transition-2;

  &:hover {
    border-color: color(light-1);
    background-color: color(dark-1);
  }
}
