@import '../../styles/variables.scss';

.StyleElement {
  display: block;
}

.StyleElement__title {
  display: block;
}

.StyleElement__wrap {
  padding: $space-5;
  border: 2px solid $color-light-1;
  border-radius: $space-1;
  background-color: $color-dark-2;
}
