@import '../../styles/variables.scss';

.StyleElement {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.StyleElement__title {
  display: block;
}

.StyleElement__body {
  padding: $space-5;
  border: 1px solid color(light-3);
  border-radius: $space-1;
  background-color: color(dark-2);
}
