@import '../../styles/variables.scss';

.StyleguidePage {
  display: block;
}

.StyleguidePage__elements {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: $space-6;
}

.sg-color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: $space-2;
  margin-right: $space-3;
}

@each $key, $color in $colors {
  .color-#{$key} {
    background-color: $color;
  }
}
