@use '../../styles/vars';
@use '../../styles/utils/at-break';

.MovieList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: vars.$space-4;
  row-gap: vars.$space-4;

  @include at-break.at-tablet {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: vars.$space-5;
  }

  @include at-break.at-desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: vars.$space-5;
  }
}
