@import '../../styles/variables.scss';
@import '../../styles/utils/at-break.scss';

.Header {
  position: sticky;
  top: 0;
  z-index: map-get($zindex, header);
  display: flex;
  width: 100%;
  min-height: $space-8;
  padding: $space-3 0;
  background-color: rgba(color(dark-1), 0.8);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.Header__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $space-2;
}
