@use "sass:map";
@use '../../styles/variables.scss';
@use '../../styles/utils/at-break.scss';

.Header {
  position: sticky;
  top: 0;
  z-index: map.get(variables.$zindex, header);
  display: flex;
  width: 100%;
  min-height: variables.$space-8;
  margin-bottom: variables.$space-3;
  padding: variables.$space-3 0;
  // background-color: rgba(color(dark-1), 0.8);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.Header__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: variables.$space-2;
}
