@import '../../styles/variables.scss';

$search-max-width: 250px;

.Search {
  display: block;
}

.Search__input {
  border: none;
  border-radius: $font-size-3;
  width: 25vw;
  max-width: $search-max-width;
  height: $space-6;
  padding: $space-1 $space-3;
  box-shadow: none;
  background-color: color(dark-0);
  transition: all $transition-2;
  opacity: 0.6;
  font-weight: 600;
}

[data-filled='true'],
.Search__input:focus {
  width: 50vw;
  height: $space-6;
  color: color(light-3);
  opacity: 1;
}
