@use '../../styles/variables.scss';

$search-max-width: 250px;

.Search {
  display: block;
}

.Search__input {
  border: none;
  border-radius: variables.$font-size-3;
  width: 25vw;
  max-width: $search-max-width;
  height: variables.$space-6;
  padding: variables.$space-1 variables.$space-3;
  box-shadow: none;
  background-color: variables.color(dark-0);
  transition: all variables.$transition-2;
  opacity: 0.6;
  font-weight: 600;
}

[data-filled='true'],
.Search__input:focus {
  width: 50vw;
  height: variables.$space-6;
  color: variables.color(light-3);
  opacity: 1;
}
