@use '../../styles/vars.scss';
@use '../../styles/utils/at-break.scss';

.MoviePage__hero {
  opacity: 0.5;
  position: absolute;
  top: 0;
  z-index: vars.index(one);
  display: block;
  width: 100%;
  height: 80vh;
  filter: blur(vars.$space-6);

  img {
    width: 100%;
    transform: translateY(-30%);
  }
}

.MoviePage__body {
  position: relative;
  z-index: vars.index(base);
  margin-bottom: vars.$space-5;

  @include at-break.at-tablet {
    display: grid;
    column-gap: vars.$space-6;
    grid-template-columns: 3fr 4fr 1fr;
  }
}

.MoviePage__title {
  margin-top: vars.$space-1;
  font-size: vars.$font-size-4;
  line-height: vars.$line-height-4;

  @include at-break.at-tablet {
    margin-top: vars.$space-2;
    font-size: vars.$font-size-5;
    line-height: vars.$line-height-5;
  }

  @include at-break.at-desktop {
    margin-top: vars.$space-3;
    font-size: vars.$font-size-6;
    line-height: vars.$line-height-6;
  }
}

.MoviePage__section-title {
  margin-top: vars.$space-1;
  font-size: vars.$font-size-4;

  @include at-break.at-tablet {
    margin-top: vars.$space-2;
    font-size: vars.$font-size-5;
  }

  @include at-break.at-desktop {
    margin-top: vars.$space-3;
    font-size: vars.$font-size-6;
  }
}

.MoviePage__poster {
  margin-bottom: vars.$space-5;
}

.MoviePage__rate {
  text-align: center;
  padding: vars.$space-2 vars.$space-4;
  color: vars.color(dark-1);
  background-color: vars.color(light-1);
  border-radius: vars.$space-4;
  font-size: vars.$font-size-6;
}
