@import '../../styles/variables.scss';
@import '../../styles/utils/at-break.scss';

.MoviePage__hero {
  opacity: 0.5;
  position: absolute;
  top: 0;
  z-index: index(one);
  display: block;
  width: 100%;
  height: 80vh;
  filter: blur($space-6);
  
  img {
    width: 100%;    
    transform: translateY(-30%);
  }
}


.MoviePage__body {  
  position: relative;
  z-index: index(base);
  margin-bottom: $space-5;

  @include at-tablet {
    display: grid;
    column-gap: $space-6;
    grid-template-columns: 3fr 4fr 1fr;
  }
}

.MoviePage__title {
  margin-top: $space-1;
  font-size: $font-size-4;
  line-height: $line-height-4;

  @include at-tablet {
    margin-top: $space-2;
    font-size: $font-size-5;
    line-height: $line-height-5;
  }

  @include at-desktop {
    margin-top: $space-3;
    font-size: $font-size-6;
    line-height: $line-height-6;
  }
}

.MoviePage__section-title {
  margin-top: $space-1;
  font-size: $font-size-4;

  @include at-tablet {
    margin-top: $space-2;
    font-size: $font-size-5;
  }

  @include at-desktop {
    margin-top: $space-3;
    font-size: $font-size-6;
  }
}

.MoviePage__poster {
  margin-bottom: $space-5;
}

.MoviePage__rate {
  text-align: center;
  padding: $space-2 $space-4;
  color: color(dark-1);
  background-color: color(light-1);
  border-radius: $space-4;
  font-size: $font-size-6;
}
