@import '../../styles/variables.scss';
@import '../../styles/utils/at-break.scss';

.MoviePage__body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: $space-6;
  margin-bottom: $space-5;

  @include at-tablet {
    grid-template-columns: 1fr 1fr;
  }
}

.MoviePage__title {
  margin-top: $space-1;
  font-size: $font-size-4;

  @include at-tablet {
    margin-top: $space-2;
    font-size: $font-size-5;
  }

  @include at-desktop {
    margin-top: $space-3;
    font-size: $font-size-6;
  }
}

.MoviePage__section-title {
  margin-top: $space-1;
  font-size: $font-size-4;

  @include at-tablet {
    margin-top: $space-2;
    font-size: $font-size-5;
  }

  @include at-desktop {
    margin-top: $space-3;
    font-size: $font-size-6;
  }
}
