@import '../../styles/variables.scss';

$movie-max-width: 230px;

.Movie {
  position: relative;
  display: flex;
  justify-content: center;
}

.Movie__poster {
  display: block;
}

.Movie__title {
  display: none;
}
