@use '../../styles/variables';
@use '../../styles/utils/at-break';

.SimilarMovies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: variables.$space-4;
  row-gap: variables.$space-4;

  @include at-break.at-tablet {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: variables.$space-5;
  }

  @include at-break.at-desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: variables.$space-5;
  }
}
